:root {
  --theme-primary: #000000;
  --theme-secondary: #3f3f3f;
  --theme-tertiary: #7f7f7f;
  --theme-accent: #b7b7b7;
  --theme-background: #ffffff;
  --semantic-color-safe: #00c853;
  --semantic-color-safe-hover: #00a844;
  --semantic-color-warning: #ffc107;
  --semantic-color-warning-hover: #ffa000;
  --semantic-color-danger: #ff5252;
  --semantic-color-danger-hover: #ff1744;
  --font-size-2xl: 3rem;
  --font-size-xl: 1.875rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1.125rem;
  --font-size-xs: 1rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 80px;
  --universal-element-radius: 0.5rem;
  --container-sm: 40rem;
  --container-lg: 80rem;
  --bp-sm: 640px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --icon-size-sm: 1.125rem;
  --icon-size-md: 1.25rem;
  --icon-size-lg: 1.5rem;
}
